.todo-add-form-container {
  margin: 16px;
  display: flex;
  justify-content: center;
  margin-top: 80px;

  .form {
    padding: 45px;
    background-color: #ffffff;
    border-radius: 6px;
    width: 100%;

    .containers {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin: 1rem;
      label {
        flex: 3;
        margin-right: 30px;
        font-size: 17px;
        min-width: 200px;
      }

      input {
        flex: 5;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 17px;

        &:focus {
          outline: none;
          border-color: rgb(170, 158, 158);
        }
      }
    }
    .main-btn-container {
      margin-top: 10px;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}
